.page-header {
    border-bottom: 1px solid var(--primary-border-color);
}

.header-logo__studio {
    color: var(--secondary-dark-color);
}

.container-navigation {
    display: flex;
    align-items: center;
}